

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #b2dacf;
}

.main-form {
  width: 100%;
  height: 100%;
}

.pd {
  padding: 70px;
}

.mrb {
  margin-bottom: 20px;
}

.form-box {
  display: block;
  max-width: 660px;
  margin: 0 auto;
  background-color: #05595a;
}

.heading {
  position: relative;
}

a:focus,
a:hover {
  text-decoration: none;
}

.heading-glyphicon {
    position: absolute;
    top: 27px;
    right: 39px;
    width: 26px;
    height: 26px;
    text-align: center;
    color: #05595a;
    background-color: #fff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.glyphicon {
   font-size: 17px;
   line-height: 26px;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 28px 0;
  margin: 0;
}

.form-group {
  margin-bottom: 40px;
}

.input-box {
  display: block;
  position: relative;
}

.form-control {
  font-size: 24px;
  padding: 30px 70px 30px 22px;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  position: relative;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.form-control:focus {
  border-color: #0aa699;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(10, 166, 153, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(10, 166, 153, .6);
}

.form-glyphicon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    text-align: center;
    padding: 20px 25px;
    color: #eaeaea;
    transition: all .3s ease-in-out;
}

.form-control:focus + .form-glyphicon{
  color: #0aa699;
}

.btn {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: #0aa699;
  border-radius: 0;
  border: 4px solid transparent;
  transition: all .3s ease-in-out;
}

.btn:focus,
.btn:hover,
.btn:active{
  color: #0aa699 !important;
  border-color: #0aa699 !important;
  background-color: #fff !important;
  
}

.box-shadow {
    -webkit-box-shadow: 0 0 20px 0 rgba(127, 202, 182, .75), 0 5px 5px 0 rgba(127, 202, 182, .75);
       -moz-box-shadow: 0 0 20px 0 rgba(127, 202, 182, .75), 0 5px 5px 0 rgba(127, 202, 182, .75);
            box-shadow: 0 0 20px 0 rgba(127, 202, 182, .75), 0 5px 5px 0 rgba(127, 202, 182, .75);
}

.form-here {
  display: block;
  background-color: #fff;
  padding: 42px 40px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c9c9c9;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #c9c9c9;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #c9c9c9;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: #c9c9c9;
}

@media (max-width: 768px) {
   .pd {
    padding: 30px 15px;
  }
}
